body {
  background-color: #dadada;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.nazwa {
  display: block;
  font-size: 40px;
  text-align: center;
  font-weight: 700;
}

.informacje {
  display: block;
  font-size: 40px;
  text-align: center;
  font-weight: 700;
}

#plan_treningowy {
  margin-top: 20px;
  min-height: 300px;
  padding: 20px;
  border: 2px solid gray;
  border-radius: 30px;
  background-color: #f4f4f4;

  .day {
    background-color: white;
    margin-left: 33px;
    margin-top: 20px;
    min-width: 270px;
    min-height: 220px;
    float: left;
    border: 2px solid gray;
    border-radius: 20px;
  }
}

#wyniki {
  min-height: 300px;
  margin-top: 50px;
  background-color: #f4f4f4;
  width: 420px;
  padding: 20px;
  float: left;
  border: 2px solid gray;
  border-radius: 30px;
}

#cele {
  min-height: 300px;
  margin-top: 50px;
  background-color: #f4f4f4;
  width: 420px;
  padding: 20px;
  margin-left: 70px;
  float: left;
  border: 2px solid gray;
  border-radius: 30px;
}

.przycisk {
  display: inline-block;
  padding: 0 5px;
  text-align: center;
  border: 2px solid black;
  border-radius: 100%;
  cursor: pointer;
}

.przycisk:hover {
  border: 2px solid black;
  background-color: black;
  color: white;
}

#treningi {
  margin-top: 446px;
  min-height: 300px;
  padding: 20px;
  border: 2px solid gray;
  border-radius: 30px;
  background-color: #f4f4f4;
}

#trening1 {
  background-color: white;
  margin-left: 33px;
  margin-top: 20px;
  min-width: 270px;
  min-height: 220px;
  float: left;
  border: 2px solid gray;
  border-radius: 20px;
}

#trening2 {
  background-color: white;
  margin-top: 20px;
  margin-left: 33px;
  min-width: 270px;
  min-height: 220px;
  float: left;
  border: 2px solid gray;
  border-radius: 20px;
}

#trening3 {
  background-color: white;
  margin-top: 20px;
  margin-left: 33px;
  min-width: 270px;
  min-height: 220px;
  float: left;
  border: 2px solid gray;
  border-radius: 20px;
}

#kalkulator {
  min-height: 440px;
  margin-top: 50px;
  background-color: #f4f4f4;
  width: 1000px;
  padding-top: 20px;
  border: 2px solid gray;
  border-radius: 30px;
  margin-bottom: 50px;
}

#dane_kalkulator {
  padding-top: 30px;
  background-color: white;
  margin-top: 20px;
  margin-left: 50px;
  min-width: 400px;
  min-height: 300px;
  border: 2px solid gray;
  border-radius: 20px;
  float: left;
}

#rezultaty_kalkulator {
  padding-top: 30px;
  background-color: white;
  margin-top: 20px;
  margin-right: 50px;
  min-width: 400px;
  min-height: 300px;
  border: 2px solid gray;
  border-radius: 20px;
  float: right;
}

#MASA_kalkulator {
  display: inline-block;
  width: 200px;
  height: 30px;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
}

#MASA_kalkulator:hover {
  border: 2px solid black;
  background-color: black;
  color: white;
}

#KG_kalkulator {
  display: inline-block;
  width: 200px;
  height: 30px;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
}

#KG_kalkulator:hover {
  border: 2px solid black;
  background-color: black;
  color: white;
}

#REP_kalkulator {
  display: inline-block;
  width: 200px;
  height: 30px;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
}

#REP_kalkulator:hover {
  border: 2px solid black;
  background-color: black;
  color: white;
  line-height: normal;
}
